@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-bg {
  background-color: #1e1e1e;
}

.secondary-bg {
  background-color: #0f5048;
}

/* Hide scrollbar - Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* Hide scrollbar - Chrome, Safari */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.page-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 200;
}

.btn-primary {
  @apply bg-emerald-600 text-white p-3 rounded-lg hover:bg-emerald-700 transition;
}
